.App {
	text-align: center;
}

.App-li {
	color: #fff;
}
nav {
	display: flex;
	justify-content: space-center;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
li {
	padding: 1rem;
	border: 1px solid silver;
	border-radius: 5px;
	margin: 0.1rem 0.14rem;
	background-color: rgba(0, 0, 0, 0.15);
	cursor: pointer;
}
.active {
	background-color: rgba(249, 6, 6, 0.61);
}
.disabled:hover {
	background-color: rgba(249, 6, 6, 0.21);
}
